
<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <div class="text-center">
            <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">Resources to make you better on LinkedIn</h1>
            <p class="max-w-lg mx-auto mt-4 text-gray-500">
              From Aware
            </p>
        </div>

        <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2 xl:grid-cols-3">
          {% for post in postslist %}
              <div>
                  <div class="relative">
                      <img class="object-cover object-center w-full h-64 rounded-lg lg:h-80" src={{ post.data.thumbnail }} alt="">
                  </div>

                  <h1 class="mt-6 text-xl font-semibold text-gray-800 dark:text-white">
                    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                  </h1>

              </div>

          {% endfor %}
        </div>

    </div>
</section>
