<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="{{ title or renderData.title or metadata.title }}" />
    <meta property="og:url" content={{ page.url }} />
    <meta property="og:description" content="{{ description }}" />
    <meta property="description" content="{{ description }}" />

		<noscript data-n-css=""></noscript>
		<script defer nomodule src="https://salient.tailwindui.com/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js"></script>
		<script src="https://salient.tailwindui.com/_next/static/chunks/webpack-b8f8d6679aaa5f42.js"></script>
		<script src="https://salient.tailwindui.com/_next/static/chunks/framework-3b5a00d5d7e8d93b.js"></script>
		<script src="https://salient.tailwindui.com/_next/static/chunks/main-1f2538228a1f74e7.js"></script>
		<script src="https://salient.tailwindui.com/_next/static/chunks/pages/_app-b33019fe86435484.js"></script>
		<script src="https://salient.tailwindui.com/_next/static/chunks/197-6119ea4b87dfcb10.js"></script>
		<script src="https://salient.tailwindui.com/_next/static/chunks/421-f79e821d81332581.js"></script>
		<script src="https://salient.tailwindui.com/_next/static/chunks/pages/index-f6e8c5f1641a92d2.js"></script>
		<script src="https://salient.tailwindui.com/_next/static/u527WUCDAU3YAHsefwhKU/_buildManifest.js"></script>
		<script src="https://salient.tailwindui.com/_next/static/u527WUCDAU3YAHsefwhKU/_ssgManifest.js"></script>

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-6DXFBF1RMT"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-6DXFBF1RMT');
		</script>

    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  </head>

  <body>
    {% include "../components/header.njk" %}
    <main class="mx-auto w-full max-w-screen-xl px-4 py-2 sm:px-6 lg:px-8">
      {{ content | safe }}
    </main>
    <script src="/assets/main.js"></script>
		<script src="/assets/scripts/alpine.js"></script>

		<script>
			window.intercomSettings = {
				api_base: "https://api-iam.intercom.io",
				app_id: "rjg6lgu1"
			};
		</script>

		<script>
		// We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/rjg6lgu1'
		(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/rjg6lgu1';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
		</script>
  </body>
</html>
