---
title: Resources
layout: layouts/base.njk
permalink: /resources/
eleventyNavigation:
  key: Resources
  order: 2
---
{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
