---
title: Resources
layout: layouts/base.njk
permalink: /resources/
description: Aware resources
eleventyNavigation:
  key: Resources
  order: 2
tags: footer
---
{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
{% include "components/footer.njk" %}


